*body{
    box-sizing: border-box;
}
nav{
    display: inline-flex;
}
nav li{
    display:inline-flex;
}

nav a{
    display:block;
    float:left;
    margin-right: 0.12em;
    padding: 1em 1.5em;
    background: #06e690;
    box-shadow: inset 0px -2px 0px 0px rgba(0, 0, 0, 0.25);
    text-decoration: none;
    /*text-shadow: 1px 1px 0px #f0f331;*/
    text-transform: uppercase;
    font-size: .90em;
    color: #000000;
    border-radius: 10px;
}